includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 7
    ignoreErrors:
        -
            message: '#^Undefined variable\: \$this$#'
            path: ./tests/*
            reportUnmatched: false
        -
            message: '#^Function (something|<your Pest.php-defined util function name here>) not found\.$#'
            path: ./tests/*
            reportUnmatched: false
        -
            message: '#^Access to an undefined property#'
            path: ./tests/*
            reportUnmatched: false
        -
            message: '#^Call to an undefined static method Filament\\Pages\\Auth\\(Login|Register)::getRedirectUrl\(\)\.$#'
            path: ./app/Filament/Pages/Auth/*
            reportUnmatched: false
