@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-arrow-button {
  @apply fixed bottom-6 w-0 h-0 touch-none border-y-[20px] border-y-transparent;
}

.button {
  @apply
    px-4 py-2
    bg-black text-white
    dark:bg-white dark:text-black
    border-black dark:border-white
    border-solid border-2
    hover:bg-white hover:text-black
    focus:bg-white focus:text-black
    dark:hover:bg-black dark:hover:text-white
    dark:focus:bg-black dark:focus:text-white;
}
