.typography * {
  margin: 0;
  text-align: center;
}

.typography li {
  text-align: left;
}

.typography .textFitted {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.typography img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 80vh;
  width: 100%;
}

.typography ul{
  padding-left: 1em;
  list-style-type: disc;
}

.typography ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}

.typography blockquote {
  font-style: italic;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  font-weight: bold;
}

.typography code {
  background-color: rgba(226, 226, 226, .4);
  padding: .25rem;
}

.typography pre {
  background-color: rgba(226, 226, 226, .4);
  padding: .5rem 1rem;
  text-align: left;
}

.typography pre code {
  background-color: transparent;
}

.typography a {
  color: #05a0db;
}

.typography a:hover, .typography a:focus {
  text-decoration: underline;
}

.typography h1 {
  font-size: 2em;
}

.typography h2 {
  font-size: 1.5em;
}

.typography h3 {
  font-size: 1.25em;
}

.typography h4 {
  font-size: 1em;
}

.typography h5 {
  font-size: .9em;
}

.typography h6 {
  font-size: .75em;
}
